Repository allure-framework/allure3, pull requests merged in 2025-01, with the labels that each got.

#42 feat(reader): cucumberjson improvements and fixes
  packages/core/src/report.ts
  packages/reader/src/cucumberjson/index.ts
  packages/reader/src/cucumberjson/model.ts
  packages/reader/test/cucumberjson.test.ts
  packages/reader/test/resources/cucumberjsondata/cucumberjs/stepArguments/argumentInvalid.json
  packages/reader/test/resources/cucumberjsondata/cucumberjs/stepArguments/argumentsPropertyInvalid.json
  packages/reader/test/resources/cucumberjsondata/cucumberjs/stepArguments/dataTableWellDefined.json
  packages/reader/test/resources/cucumberjsondata/cucumberjs/stepArguments/docStringContentInvalid.json
  packages/reader/test/resources/cucumberjsondata/cucumberjs/stepArguments/docStringContentMissing.json
  packages/reader/test/resources/cucumberjsondata/cucumberjs/stepArguments/docStringWellDefined.json
  packages/reader/test/resources/cucumberjsondata/cucumberjs/stepArguments/twoWellDefinedArguments.json
  packages/reader/test/resources/cucumberjsondata/reference/docstrings/contentTypeInvalid.json
  packages/reader/test/resources/cucumberjsondata/reference/docstrings/valueInvalid.json
  packages/reader/test/utils.ts
Labels: type:improvement

#54 Improve attachment processing
  packages/core/src/store/convert.ts
  packages/core/src/store/store.ts
  packages/core/test/store/convert.test.ts
  packages/core/test/store/store.test.ts
  packages/reader-api/src/detect.ts
  packages/reader-api/src/index.ts
  packages/reader-api/src/resultFile.ts
  packages/reader-api/src/utils.ts
  packages/reader-api/test/resources/short.svg
  packages/reader-api/test/utils.test.ts
  packages/reader-api/test/utils.ts
Labels: type:improvement

#55 fix: allure1 ignores nested steps and attachments of nested steps that consist of a single element
  packages/reader/src/allure1/index.ts
  packages/reader/test/allure1.test.ts
  packages/reader/test/resources/allure1data/steps/attachments/oneAttachmentInNestedStep.xml
  packages/reader/test/resources/allure1data/steps/oneNestedStep.xml
Labels: type:bug

#50 fix: a lot of small fixes and improvements
  .pnp.cjs
  .yarn/cache/cssfilter-npm-0.0.10-28e06ce546-1e45182f42.zip
  .yarn/cache/xss-npm-1.0.15-a70a62f810-074ad54bab.zip
  packages/web-awesome/src/assets/svg/line-alerts-alert-circle.svg
  packages/web-awesome/src/assets/svg/line-general-eye.svg
  packages/web-awesome/src/assets/svg/line-icon-bomb-2.svg
  packages/web-awesome/src/components/app/ArrowButton/styles.scss
  packages/web-awesome/src/components/app/ReportMetadata/MetadataSummary.tsx
  packages/web-awesome/src/components/app/ReportMetadata/MetadataWithIcon.tsx
  packages/web-awesome/src/components/app/TestResult/TestResultError/index.tsx
  packages/web-awesome/src/components/app/TestResult/TestResultError/styles.scss
  packages/web-awesome/src/components/app/TestResult/TestResultHeader/index.tsx
  packages/web-awesome/src/components/app/TestResult/TestResultHistory/TestResultHistoryItem.tsx
  packages/web-awesome/src/components/app/TestResult/TestResultInfo/TestResultInfoStatuses.tsx
  packages/web-awesome/src/components/app/TestResult/TestResultInfo/index.tsx
  packages/web-awesome/src/components/app/TestResult/TestResultInfo/styles.scss
  packages/web-awesome/src/components/app/TestResult/TestResultNavigation/index.tsx
  packages/web-awesome/src/components/app/TestResult/TestResultPrevStatuses/index.tsx
  packages/web-awesome/src/components/app/TestResult/TestResultTeardown/index.tsx
  packages/web-awesome/src/components/app/TestResult/index.tsx
  packages/web-awesome/src/components/app/Tree/TreeItem.tsx
  packages/web-awesome/src/components/app/Tree/styles.scss
  packages/web-awesome/src/components/commons/Button/styles.scss
  packages/web-awesome/src/i18n/constants.ts
  packages/web-awesome/src/i18n/locales/am.json
  packages/web-awesome/src/i18n/locales/az.json
  packages/web-awesome/src/i18n/locales/de.json
  packages/web-awesome/src/i18n/locales/en.json
  packages/web-awesome/src/i18n/locales/es.json
  packages/web-awesome/src/i18n/locales/fr.json
  packages/web-awesome/src/i18n/locales/he.json
  packages/web-awesome/src/i18n/locales/it.json
  packages/web-awesome/src/i18n/locales/ja.json
  packages/web-awesome/src/i18n/locales/ka.json
  packages/web-awesome/src/i18n/locales/kr.json
  packages/web-awesome/src/i18n/locales/nl.json
  packages/web-awesome/src/i18n/locales/pl.json
  packages/web-awesome/src/i18n/locales/pt.json
  packages/web-awesome/src/i18n/locales/ru.json
  packages/web-awesome/src/i18n/locales/sv.json
  packages/web-awesome/src/i18n/locales/tr.json
  packages/web-awesome/src/i18n/locales/zh.json
  packages/web-awesome/src/index.tsx
  packages/web-awesome/src/stores/stats.ts
  packages/web-awesome/src/utils/copyToClipboard.ts
  packages/web-commons/package.json
  packages/web-commons/src/index.ts
  packages/web-commons/src/sanitizeHtml.ts
  yarn.lock
Labels: type:bug, type:improvement

#58 fix: production dependency xss is declared as dev only
  packages/web-commons/package.json
Labels: type:bug
